
body{
  margin: auto;
  color: #333;
  font-family: "Nuito";
  max-width: 100%;
  background-color: rgb(251, 246, 240);
  
}

img{
  max-width: 100%;
  min-height: 270px;
}

.img_div{
  width: 400px;
  height: 250px;
}

.LOGO{
  color: #f5690c;
  margin: 0;
}

a{
  color: #f5690c;
  text-decoration: none;
}

/* .content {
  max-width: 1000px;
  margin: 0 auto;
} */

nav{
  margin:  20px  80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 2px solid rgb(255, 255, 255);
  
}

nav a{
  margin-left: 12px;
}

nav a:hover{
  border-bottom: 1px solid #f5690c;
}

nav .logo{
  margin-right: auto;
}


/* .banner{
  max-width: 1200px;
  margin: auto;
} */


/* HOTEL CARD DESIGN */
.hotel_card{
 
  display: inline-block;
  margin: 2em;
  border-radius: 30px;
  background-color: rgba(255, 127, 80, 0.349);
  text-align: center;
  box-shadow: 2px 4px 4px 2px grey;
  transition: ease 0.5s;
}
.hotel_card:hover{
  opacity: 50%;
  
}

.hotel_card img{
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.hotel_card h2{
  color: rgb(78, 78, 78);
  margin-top: 1.5em;
}

.hotel_card p{
  color: rgb(116, 116, 116);
}